.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: lightcoral;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-intro {
  font-size: large;
  display: none;
}

.App a {
  color: #f60;
}

.App-scanner {
  width: 100%;
}

.App-scanner .buttons {
  padding-bottom: 15px;
}

.App-scanner button {
  padding: 7px 10px;
  margin: 0 5px;
  border: none;
  background-color: blue;
  color: white;
  font-weight: 500;
  border-radius: 2px;
  font-size: .8em;
}

.scanner-preview video,
.scanner-preview canvas {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
